# Скопируйте на сервере: cp .env.example .env

DB_HOST=localhost
DB_PORT=3306
DB_NAME=btops_app
DB_USER=btops_app
DB_PASS=your_password

B24_CLIENT_ID=app.6a43a88f4270f5.10454159
B24_CLIENT_SECRET=RLiAX4fOmPQLgxX89XgVv2VqLkgGV9RbIA3BaIqH0JkvtIcnt7
APP_URL=https://up-fix.ru/market/ooofix-xmlupd-cloud
APP_TITLE=Генерация XML (УПД)
APP_DEBUG=0
